@media only screen and (min-width: 1536px) {
    .contentBlock{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 1536px;
    }
  }
